@mixin overlay {
    opacity: 1;
    visibility: visible;
}
html, body{
    font-family: 'Roboto', sans-serif;
    color: $text;
    font-size: 15px;
    line-height: 1.42857143;
    width: 100%;
    &.open-cart{
        // overflow: hidden;
        // position: relative;
        // height: 100%;
        .main{
            &:before{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .main{
        &:before{
            content:'';
            opacity: 0;
            visibility: hidden;
            background: rgba(0,0,0,0.3);
            transition: all 0.3s ease;
            position: fixed;
            z-index: 10000;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    // @media(min-width:992px){
    //     .main.header-fixed{
    //         padding-top: 110px;
    //         .header{
    //             &-top{
    //                 // display: none;
    //             }
    //             &-navbar{
    //                 position: fixed;
    //                 top: 0;
    //                 left: 0;
    //                 right: 0;
    //                 z-index: 10000;
    //                 // padding: 15px 0;
    //                 border-bottom: 1px solid #eee;
    //                 @include box-shadow;
    //                 .header-logo{
    //                     height: 80px;
    //                 }
    //                 .header-menu{
    //                     padding: 15px 0;
    //                 }
    //             }
    //         }
    //     }
    // }
     
   
    @media(max-width:991px){
        
        .main{
            padding-top: 60px;
        }
        &.menu-open{
            overflow: hidden;
            position: relative;
            height: 100%;
            .main{
               
                &:before{
                    opacity: 1;
                    visibility: visible;
                }
            }

        }
        
    }
}

.loading{
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    overflow: hidden;
}
#loading-ajax{
    width: 0;
    height: 2px;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: $primary-color;
    z-index: 100000000;
    transition: width 0.5s ease;
}